<%- include('includes/head.ejs', { title: 'Welcome' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Home page</h1>
    <p>this is the page where we display all the hotels</p>
  </main>
</body>
</html>